version: '3.9'


services:
  dind:
    container_name: dind
    image: docker:dind
    user: root
    privileged: true
    restart: unless-stopped
    networks:
      jenkins_net:
        aliases:
          - docker
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - docker-certs-ca:/certs/ca
      - docker-certs-client:/certs/client
      - jenkins-data:/var/jenkins_home

    expose:
      - 2376


  jenkins:
    container_name: jenkins
    user: root
    privileged: true
    depends_on:
      - dind
    image: jenkins/jenkins:lts-jdk11
    networks:
      - jenkins_net
    restart: unless-stopped
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
    volumes:
      - docker-certs-client:/certs/client:ro
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    ports:
      - 8080:8080
      - 50000:50000


networks:
  jenkins_net:
    driver: bridge

volumes:
  docker-certs-ca:
  docker-certs-client:
  jenkins-data:
